@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.segundaVentana {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: firebrick;
  border-radius: 15px;
  padding: 5% 0% 5% 0%;
}

.segundaVentana h1 {
  color: white;
}

.segundaVentana p {
  color: white;
}

.segundaVentana #pedidoConcretado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.segundaVentana #pedidoConcretado img {
  width: 30%;
  border-radius: 50rem;
}

.segundaVentana #pedidoConcretado p {
  width: 80%;
  color: white;
}

.segundaVentana #botonSiguienteSegunda {
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

.segundaVentana #botonAtrasSegunda {
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

.terceraVentana {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: firebrick;
  border-radius: 15px;
  padding: 5% 0% 5% 0%;
  color: white;
}

.terceraVentana form #DatosComprador .contenedorInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.terceraVentana form #DatosComprador .contenedorInputs label {
  width: 80%;
  padding: 2% 0% 2% 0%;
}

.terceraVentana form #DatosComprador .contenedorInputs input {
  width: 80%;
  background: none;
  border: none;
  border-bottom: solid 2px white;
  color: white;
}

.terceraVentana form #DatosComprador .contenedorInputs #Provincias {
  width: 80%;
}

.terceraVentana form #DatosComprador .contedorMunicipios {
  visibility: hidden;
}

.terceraVentana #botonAtrasSegunda {
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

.terceraVentana #botonSiguienteSegunda {
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

main .primeraVentana {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  background-color: firebrick;
  border-radius: 15px;
  padding: 5% 0% 5% 0%;
}

main .primeraVentana h1 {
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

main .primeraVentana p {
  color: white;
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1rem;
}

main .primeraVentana form {
  margin: 0 auto;
}

main .primeraVentana form .contenedoProductoRealizado {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0 5% 0%;
}

main .primeraVentana form .contenedoProductoRealizado div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main .primeraVentana form .contenedoProductoRealizado div img {
  width: 100%;
  margin: 4%;
  border-radius: 50%;
  border: solid 4px gray;
  cursor: pointer;
}

main .primeraVentana form .contenedoProductoRealizado div .productoRealizado {
  position: absolute;
  visibility: hidden;
}

main .primeraVentana form .contenedoProductoRealizado div .productoRealizado:checked ~ img {
  border: solid 4px yellow;
}

main .primeraVentana form #tamanioRealizado {
  width: 100%;
  display: none;
}

main .primeraVentana form #tamanioRealizado p {
  font-size: 1.2rem;
}

main .primeraVentana form #tamanioRealizado #SelectTamanio {
  width: auto;
  border-radius: 50px;
  font-size: 1.2rem;
}

main .primeraVentana form .seccionProductoPersonlizado {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

main .primeraVentana form .seccionProductoPersonlizado #contenedorProductoPersonlizado {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

main .primeraVentana form .seccionProductoPersonlizado #contenedorProductoPersonlizado .textSubirImg {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 3% 0% 3% 0%;
}

main .primeraVentana form .seccionProductoPersonlizado #contenedorProductoPersonlizado .inputSubirImg {
  width: 100%;
  margin-top: 2%;
}

main .primeraVentana form .seccionProductoPersonlizado #contenedorProductoPersonlizado .inputSubirImg #file-upload-button {
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

main .primeraVentana form .seccionProductoPersonlizado .tamanioPersonalizado {
  width: 100%;
  font-weight: 700;
  margin: 5% auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

main .primeraVentana form .seccionProductoPersonlizado #botonPersonalizado {
  width: 50%;
  font-weight: 700;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

main .primeraVentana form .seccionProductoPersonlizado #botonPersonalizado:hover {
  margin: 0 auto;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
}

main .primeraVentana form .seccionProductoPersonlizado div {
  margin-top: 2%;
}

main .primeraVentana form .seccionProductoPersonlizado div label,
main .primeraVentana form .seccionProductoPersonlizado div input {
  color: white;
}

main .primeraVentana form .seccionProductoPersonlizado #preview img {
  width: 100%;
}

main .primeraVentana form .boton {
  width: 40%;
  align-self: flex-start;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 3% 0% 0% 0%;
  padding: 2% 8% 2% 8%;
}
/*# sourceMappingURL=style.css.map */