@import "_mixin";

.segundaVentana {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	background-color: firebrick;
	border-radius: 15px;
	padding: 5% 0% 5% 0%;

	h1 {
		color: white;
		font-weight: 900;
		font-size: 2.5rem;
		padding: 0% 0% 2% 0%;
	}

	p {
		color: white;
		width: 80%;
		margin: 0 auto;
		font-weight: 300;
		font-size: 1.5rem;
	}
	#pedidoConcretado {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 40%;
			margin: 5% 0% 5% 0%;
			border-radius: 50rem;
		}

		p {
			width: 80%;
			color: white;
			font-size: 1.2rem;
		}
	}

	#botonSiguienteSegunda {
		width: 30%;
		margin: 8% 0% 0% 0% !important;
		font-size: 1.2rem;
		@include botones;
	}

	#botonAtrasSegunda {
		width: 30%;
		margin: 8% 0% 0% 0% !important;
		font-size: 1.2rem;
		@include botones;
	}
}
