@import "_mixin";

.terceraVentana {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: firebrick;
  border-radius: 15px;
  padding: 5% 0% 5% 0%;
  color: white;

  h1 {
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 0% 0% 2% 0%;
  }

  p {
    color: white;
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 1.5rem;
  }

  form {
    #DatosComprador {
      .contenedorInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        label {
          width: 80%;
          padding: 2% 0% 2% 0%;
          font-size: 1.2rem;
          font-weight: 700;
          color: rgb(0, 204, 255);
        }

        input {
          width: 80%;
          background: none;
          border: none;
          border-bottom: solid 2px white;
          color: white;
          font-size: 1.2rem;
        }

        input:focus,
        input.form-control:focus {
          outline: none !important;
          outline-width: 0 !important;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          background: transparent;
        }

        ::-webkit-input-placeholder {
          color: white;
        }

        select {
          width: 80%;
          background: firebrick;
          border: none;
          border-bottom: solid 2px white;
          color: white;
          font-size: 1.2rem;
        }

        option {
          background: firebrick;
        }

        select:focus,
        select.form-control:focus {
          background: firebrick;
          outline: none !important;
          outline-width: 0 !important;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }

        #Provincias {
          width: 80%;
        }
      }

      .contedorMunicipios {
        visibility: hidden;
      }
    }
  }

  #botonAtrasTercera {
    width: 30%;
    margin: 8% 0% 0% 0% !important;
    font-size: 1.2rem;
    @include botones;
  }

  #botonFinalizar {
    width: 30%;
    margin: 8% 0% 0% 0% !important;
    font-size: 1.2rem;
    @include botones;
  }
}
