@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "_mixin";

@import "_segundaVentana";

@import "_terceraVentana";

@import "_ventanaMensaje";

$tipografiaPrincipal: "Roboto", sans-serif;

* {
  padding: 0;
  margin: 0;
}
html {
  font-family: $tipografiaPrincipal;
}

main {
  .primeraVentana {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    background-color: firebrick;
    border-radius: 15px;
    padding: 5% 0% 5% 0%;

    h1 {
      color: white;
      font-weight: 900;
      font-size: 2.5rem;
      padding: 0% 0% 2% 0%;
    }

    p {
      color: white;
      width: 80%;
      margin: 0 auto;
      font-weight: 300;
      font-size: 1.2rem;
    }

    form {
      margin: 0 auto;

      .contenedoProductoRealizado {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 5% 0 5% 0%;
        div {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          img {
            width: 100%;
            margin: 4%;
            border-radius: 50%;
            border: solid 10px gray;
            cursor: pointer;
          }

          .productoRealizado {
            position: absolute;
            visibility: hidden;
          }

          .productoRealizado:checked ~ img {
            border: solid 10px cyan;
            //visibility: hidden;
          }
        }
      }

      #tamanioRealizado {
        width: 100%;
        display: none;
        p {
          font-size: 1.2rem;
        }

        #SelectTamanio {
          width: 80%;
          border-radius: 50px;
          font-size: 1.5rem;

          option {
            font-size: 1rem;
          }
        }
      }

      .seccionProductoPersonlizado {
        width: 100%;
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        #contenedorProductoPersonlizado {
          display: none;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          .textSubirImg {
            width: 100%;
            font-size: 0.9rem;
            font-weight: 300;
            margin: 3% 0% 3% 0%;
          }
          .inputSubirImg {
            width: 100%;
            margin-top: 2%;
            #file-upload-button {
              @include botones;
            }
          }
        }

        .tamanioPersonalizado {
          width: 100%;

          @include select;
        }

        #botonPersonalizado {
          width: 50%;
          @include botones;
        }

        #botonPersonalizado:hover {
          margin: 0 auto;
          background-color: dodgerblue;
          color: white;
          border: none;
          border-radius: 20px;
          padding: 2% 2% 2% 2%;
          cursor: pointer;
        }

        div {
          margin-top: 2%;
          label,
          input {
            color: white;
          }
        }

        #preview {
          img {
            width: 100%;
          }
        }
      }

      .boton {
        width: 50%;
        align-self: flex-start;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 20px;
        margin: 3% 0% 0% 0%;
        padding: 3% 8% 3% 8%;
        font-size: 1.2rem;
      }
    }
  }
}
